<div class="banner">
  <h1 class="h1">Admin Dashboard</h1>
  <div class="cards">
      <div class="card" routerLink="/customers" style="width: 18rem;" >
        <img src="/customers.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Manage Customers</h4>
        </div>
      </div>
  
      <div class="card" routerLink="/items" style="width: 18rem;" >
        <img src="/tools.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Manage Inventory</h4>
        </div>
      </div>
  
      <div class="card" routerLink="/rental" style="width: 18rem;" >
        <img src="/rental.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Manage Rentals</h4>
        </div>
      </div>
  
     
    </div>
  
  
  </div>
  
  
  
  